.optionButton {
  width: 200px;
  height: 40px;
  margin: 10px;
  background-color: snow;
  font-size: 18px;
  text-transform: uppercase;
  min-width: 150px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.buttonHide {
  display: none;
}
